<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" (click)="goTo(1)">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="{'active' : state===1}">
          <a class="nav-link" (click)="goTo(1)" href="#">Inici <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" (click)="goTo(1)" href="#">Artículos</a>
        </li>
        <li class="nav-item" [ngClass]="{'active' : state===2}">
          <a class="nav-link" (click)="goTo(2)" href="#">Nuevo artículo template</a>
        </li>
        <li class="nav-item" [ngClass]="{'active' : state===3}">
            <a class="nav-link" (click)="goTo(3)" href="#">Nuevo artículo reactivo</a>
          </li>
      </ul>
    </div>
  </nav>