<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" (click)="goTo(1)">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav max-Width">
        <li class="nav-item" [ngClass]="{'active' : !userStoreService.isLogged && (state===1 || state===3)}" *ngIf="!userStoreService.isLogged">
          <a [routerLink]="'user/login'" class="nav-link" (click)="goTo(1)" href="#">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [ngClass]="{'active' : state===2}" *ngIf="!userStoreService.isLogged">
          <a [routerLink]="'user/register'" class="nav-link" (click)="goTo(2)" href="#">Register</a>
        </li>
        <!-- <li class="nav-item" [ngClass]="{'active' : state===1}">
          <a class="nav-link" (click)="goTo(1)" href="#">Inici </a>
        </li> -->
        <li class="nav-item" [ngClass]="{'active' : state===4}">
          <a [routerLink]="'article/list'" class="nav-link" (click)="goTo(4)" href="#">Artículos</a>
        </li>
        <li class="nav-item" [ngClass]="{'active' : userStoreService.isLogged && state===3}">
          <a [routerLink]="'article/create'" class="nav-link" (click)="goTo(3)" href="#">Nuevo artículo</a>
        </li>
        <!-- <li class="nav-item" [ngClass]="{'active' : state===3}">
            <a class="nav-link" (click)="goTo(3)" href="#">Nuevo artículo reactivo</a>
        </li> -->
      </ul>
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="userStoreService.isLogged">
              <a class="nav-link logout-button" (click)="logout()" href="#">Logout</a>
          </li>
        </ul>

    </div>
  </nav>