.title{
    text-align: center;
    border-bottom:1px solid black;
    padding:0px 0px 5px 0px;
}

.article-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.article-item-info p{
    font-size: 20px;
    font-weight: bold;
}

.precioArticleDetail{
    color:green;
    font-size: 30px !important;
}

.article-item-info-counter{
    padding:5px;
    margin-top:10px;
}

.article-item-info-counter span{
    margin:0px 15px 0px 15px;
}

.onSale {
    background-color: rgb(126, 190, 126);
}

.notOnSale {
    background-color: rgb(220, 145, 145);
}

.article-item-out-of-stock{
    color:black;
}

.displayTrue{
    display:inline;
}

.displayFalse{
    display:none;
}

.OnSaleText{
    color:green;
}

.NotOnSaleText{
    color:rgb(103, 103, 103);
}

.article-item-info-counter-button{
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
}

.title{
    text-align: center;
}

.container-search{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mr-4{
    margin-right:10px;
}

.form-content{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-content-article{
    min-width: 80%;
    max-width: 80%;
}

.h1-form-content{
    padding:30px;
}