.title{
    text-align: center;
}

.container-search{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mr-4{
    margin-right:10px;
}

.form-content{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-content-article{
    min-width: 80%;
    max-width: 80%;
}

.h1-form-content{
    padding:30px;
}